DATABASE_URL=postgresql://grifres:grifres@localhost:5432/grifres?schema=public
PORT=3001
CORS_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET=change-me-access-secret-min-32-chars-long
JWT_REFRESH_SECRET=change-me-refresh-secret-min-32-chars-long
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
ADMIN_EMAIL=admin@grifres.com
ADMIN_PASSWORD=12345678
WHATSAPP_NUMBER=5585989484821

# EasyPanel (produção):
# CORS_ORIGIN=https://progrifes-frontend.pknzmz.easypanel.host
# COOKIE_SECURE=true
# COOKIE_SAME_SITE=lax
